{{!-- display name, image, and button (or link) to 
show the albums for a particular artist on 
a new view (for now just create the button/link and 
we will take care of the rest in the next step) --}}

  <h1>Your Artist Search Results</h1>
  <ul>
      {{#each artists}}
        <div>
            <p>{{name}}</p>
            <img src="{{images.[0].url}}" alt"{{name}}" />
            <a href="">View Albums</a>
        </div>     
      {{/each}}
  </ul>