<div class='hero-page flex-column'>
  <form action="/artist-search" method="GET" >
    <label class='flex-column'>
      <p>Find Your Artist</p>
      <input type="text" name="artist">
      <button type="submit">Search for an Artist</button>
    </label> 
  </form>
</div>

