body {
    font: 16px Arial;
    margin: 0 auto;
}

/* -------------------- */
/* FLEXBOX */
/* -------------------- */

.flex-column {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 10px 0 20px;
    width: 70vw;
}


/* -------------------- */
/* HOME */
/* -------------------- */

.hero-page {
    align-items: center;
    background: linear-gradient(135deg, #1db954, #191414);
    height: 100vh;
    justify-content: center;
}

.hero-page p {
    color: white;
    font-size: 4em;
    margin: 0 0 20px;
}

/* -------------------- */
/* ALBUMS */
/* -------------------- */


/* -------------------- */
/* TRACKS */
/* -------------------- */

.table-header {
    color: rgba(30, 215, 96, 1); 
    font-weight: bold;
    font-size: 2em;
    justify-content: space-around;
}

.table-header > p {
    text-align: center;
    width: 50vw;
}

.tr {background: rgba(30, 215, 96, .4);}